<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SisCadEntities" connectionString="metadata=res://*/SisCadModel.csdl|res://*/SisCadModel.ssdl|res://*/SisCadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WEBGUIRRA\sqlexpress;initial catalog=SisCad;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>